.heading {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}