.form {
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.formGroup {
    margin-bottom: 1rem;
}

.inlineInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4rem 1rem;
    margin-top: 64px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.heading {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-bottom: .5rem !important;
    background-color: #3f51b5 !important;
}

.extras {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .content {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {}